<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FireBase</key>
	<true/>
	<key>FaceBookAppid</key>
	<string>2345382852372854</string>
	<key>LineSDKConfig</key>
	<dict>
		<key>ChannelID</key>
		<string>1634576458</string>
	</dict>
	<key>BundleId</key>
	<string>com.gamezoo.sanze</string>
	<key>AppsFlyerDevKey</key>
	<string>Xoea3ao4LbAxXAkyr3qjpP</string>
	<key>WithoutServer</key>
	<true/>
	<key>SDKVersion</key>
	<string>1</string>
	<key>GameCode</key>
	<string>CQB</string>
	<key>AppStoreID</key>
	<string>1453138796</string>
	<key>SDKArea</key>
	<string>TW</string>
	<key>Comefrom</key>
	<string>ios</string>
	<key>Platform</key>
	<string>Apple</string>
	<key>Email</key>
	<array>
		<dict>
			<key>area</key>
			<string>中文</string>
			<key>address</key>
			<string>cs@gamedreamer.com</string>
		</dict>
	</array>
</dict>
</plist>
